@{
    ViewBag.Title = "Pranzo";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if(ViewBag.primo != null && ViewBag.secondo != null && ViewBag.contorno != null && ViewBag.dolce != null) {
<ul class="list-group">
    <li class="list-group-item">
        <b>primo</b> @ViewBag.primo
    </li>
    <li class="list-group-item">
        <b>secondo</b>  @ViewBag.secondo
    </li>
    <li class="list-group-item">
        <b>contorno</b> @ViewBag.contorno
    </li>
    <li class="list-group-item">
        <b>dolce</b> @ViewBag.dolce
    </li>
</ul>
}


@using (Html.BeginForm("Pranzo", "Home", FormMethod.Post)) {
    <div>
        <b>Primo</b>      @Html.TextBox("primo") <br /> <br />
        <b>Secondo</b> @Html.TextBox("secondo")
        <b>Contorno</b>      @Html.TextBox("contorno") <br /> <br />
        <b>Dolce</b> @Html.TextBox("dolce")
        <input type="submit" value="Aggiungi" />
    </div>
}